.menu__body {

    .menu__list {
        list-style-type:  none;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .menu__item {
        padding: 12px 10px 12px 0;



    }

    .menu__link {
        display: flex;
        align-items: center;
        column-gap: 10px;
        text-decoration: none;

        span {
            font-weight: 400;
            font-size: 0.88rem;
            line-height: 130%;
            color: var(--character-light-title-85);

        }

        &[class*='active'] {
            span {
                color: var(--primary-light-7);
            }

         }
    }
}


//.menu__body {
//
//
//    [class*='menu-open'] & {
//        right: 0;
//
//        //s margin-bottom: 20px;
//    }
//
//    //@media (width <= 1200px) {
//    //    position: fixed;
//    //    z-index: 10;
//    //    top: 0;
//    //    right: -100%;
//    //
//    //    overflow: auto;
//    //
//    //    width: 100%;
//    //    height: 100%;
//    //    padding-top: 100px;
//    //
//    //    background-color: var(--color-dark-700);
//    //
//    //    transition: right 0.3s ease 0s;
//    //
//    //    @media (width <= 768px) {
//    //        width: 100%;
//    //    }
//    //}
//
//
//    // .menu__list
//    &__list {
//        display: flex;
//        flex-direction: column;
//        //  flex-wrap: wrap;
//        //  gap: 15px 20px;
//        //  align-items: center;
//        //   justify-content: center;
//
//        @media (width <= 1200px) {
//            //   flex-direction: column;
//            //   row-gap: 23px;
//
//            // margin-bottom: 20px;
//        }
//    }
//
//    // .menu__item
//    &__item {
//        list-style: none;
//
//    }
//
//    // .menu__link
//    &__link {
//        display: flex;
//        align-items: center;
//
//        text-decoration: none;
//        font-weight: 400;
//        font-size: 0.88rem;
//        line-height: 130%;
//        color: var(--character-light-title-85);
//
//        &[class*='active'] {
//            color: #be52a6;
//        }
//
//        @media (any-hover: hover) {
//            &:hover {
//                color: #be52a6;
//            }
//        }
//    }
//
//}
