.menu__body {
    flex: 1 1 auto;
    padding-left: 15px;

    @media (max-width: 360.98px) {
        padding-left: 8px;
    }

    [class*='collapsed'] & {
        padding-left: 0;
    }

    .menu__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        @media (max-width: 360.98px) {
            row-gap: 8px;
        }
    }

    .menu__item {
        letter-spacing: 0.4px;
        padding: 12px 10px 12px 0;

        [class*='collapsed'] & {
            padding: 12px 0 12px 0;
        }
    }

    .menu__link {
        display: flex;
        align-items: center;
        column-gap: 13px;
        text-decoration: none;
        transition: all 0.3s;

        [class*='collapsed'] & {
            justify-content: center;
        }

        span {
            font-weight: 400;
            font-size: 0.88rem;
            line-height: 130%;
            color: var(--character-light-title-85);

            [class*='collapsed'] & {
                display: none;
            }
        }

        .icon {
            width: 16px;
            height: 16px;
            path {
                fill: var(--primary-light-9);
            }

            &[class*='collapsed'] & {
                width: 16px;
                height: 16px;
            }
        }

        &[class*='active'] {
            span {
                color: var(--primary-light-7);
            }
        }

        @media (any-hover: hover) {
            &:hover {
                span {
                    color: var(--primary-light-7);
                }
            }
        }
        @media (max-width: 360.98px) {
            svg {
                display: none;
            }
        }
    }
}
