.footer {
    padding: 150px 24px 42px 24px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 560.98px) {
        padding: 24px 24px 42px 24px;
        flex-direction: column-reverse;
        row-gap: 35px;
    }
}

.review__link {
    all: unset;
    display: flex;
    align-self: end;
    font-size: 1rem;
    line-height: 130%;
    color: var(--primary-light-6);
    cursor: pointer;
    @media (max-width: 560.98px) {
        align-self: center;
    }

    &:hover {
        color: var(--primary-light-10);
    }
}

.download__block {
    min-width: 240px;
    background: var(--character-light-primary-inverse);
}

.download__content {
    display:flex ;
    flex-direction: column;
    row-gap: 8px;
    padding: 12px 24px;

    @media (max-width: 560.98px) {
        align-items: center;
    }
}

.title {
    font-size: 1rem;
    line-height: 130%;
    color: var(--primary-light-6);
}

.text {
    font-size: 0.88rem;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}

.download__btn_block {
    display: flex;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}

.download__btn {
    all: unset;
    padding: 19px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
    background: var(--character-light-primary-inverse);
    transition: all 0.3s;

    @media (max-width: 652.98px) {
        //  padding: 19px 15px;
    }

    .btn__icon {
        width: 15px;
        height: 15px;
    }

    span {
        font-size: 0.88rem;
        text-align: center;
        color: var(--character-light-title-85);
    }

    &:hover {
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
        background: var(--primary-light-6);

        span {
            color: var(--character-light-primary-inverse)
        }

        svg {
            path {
                fill: var(--character-light-primary-inverse);
            }
        }
    }
}
